@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

html, body {
    height: 100%;
    font-family: 'Didact Gothic', sans-serif;
    color: #fff;
    font-size: 20px;   
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.first__block {
    min-height: 100vh;
    background: url(/img/back.png) center no-repeat;
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.first__block-content {
    height: 100vh;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-content{
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;

    .ones {
        display: flex;
        margin-top: 35px;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway', sans-serif;
        z-index: 1000;
        a{
            padding: 10px 18px;
            text-decoration: none;
            border: 2px solid #fff;
            margin-left: 15px;
            color: #fff;
            font-size: 18px;
            border-radius: 30px;
            line-height: 18px;
            transition: 0.5s;
            
        }
        p{
            margin-right: 15px;
            font-weight: 700;
        }

        a:hover {
            background-color: #fff;
            color: #000;
        }
    }
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text p{
    font-size: 50px;
    font-weight: 400;
    line-height: 65px;
}

.button a {
    cursor: pointer;
    padding: 28px 50px;
    background-color: #B24D97;
    font-size: 18;
    line-height: 18px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 50px 0px;
    transition: 0.5s;
}

.button a:hover {
    border-radius: 0px 50px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    p{
        width: 223.5px;
    }
}

.second__block{
    color: #2f4152
}
.text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title p{
    color: #2F4152;
}

.title{
    margin-top: 114px;
    text-align: center;
    font-size: 60px;
    line-height: 60px;
}

.subtitle{
    margin-top: 51px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    width: 710px;
    padding: 0 30px
}

.for-center {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 109px;
}

.grid-block {
    
    margin-top: 49px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;

}


.grid-item{
    width: 275px;
    font-family: 'Raleway', sans-serif;

    .mini-title {
        margin-top: 40px;
        font-size: 20;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .mini-subtitle {
        margin-top: 20px;
        font-size: 16px;
        line-height: 20.8px;
        font-weight: 400;
    }
}

.last {
    margin-top: 26px
}

.third__block {
    background-color: #319B66;
    margin-bottom: 115px;
}

.third-block-content {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 115px;
    .title2 {
        text-align: center;
        margin-top: 93px;
        font-size: 60px;
        line-height: 60px;
    }
}

.block-svg{
    margin-top: 78px;

    
}



.first-block-line {
    display: flex;
    justify-content: space-between;
    z-index: 200;
}

.second-block-line {
    display: flex;
    justify-content: space-evenly;
    z-index: 200;
}

.line-img {
    position: absolute;
    bottom: 100px;
    left: 150px;
}
.for-center2 {
    
    margin-left: 50px;
}
.first-line {
    margin-top: 83px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-shape {
    position: relative;
    height: 200px
}

.shape {
    position: absolute;
    bottom: 0;
    background-color: #CEEBFB;
    width: 270px;
    height: 152px;
    border-radius: 50px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 30px;
    p {
        color: #2F4152;
        font-size: 18;
        line-height: 23.4px;
    }
}

.number {
    position: absolute;
    left: 30px;
    top: 0;
    background-color: #B24D97;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        font-size: 48px;
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.for-center3 {
    margin-top: -80px;
}

.first-line2 {
    margin-top: 83px;
    margin-left: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 470px
}

.forth-block-content {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 115px;
    color: #2F4152;
    
    .title2 {
        text-align: center;
        font-size: 60px;
        line-height: 60px;  
    }
    
}

.tabs {
    color: #2F4152;
    font-family: 'Raleway', sans-serif;
}

.tabs__items {
    margin-top: 83px;
    display: flex;
    justify-content: space-evenly
}

.tabs__item {
    padding: 30px;
    background-color: #CEEBFB;
    text-decoration: none;
    color: #2F4152;
    border-radius: 50px 0px;
}



.grid-boxes {
    display: flex;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.container {
    position: relative;
    min-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

    .titles {
        margin-top: 14px;
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
    }
    .mini-titles {
        margin-top: 14px;
        font-size: 18px;
        font-weight: 400;
    }

    ul {
        margin-left: 17px;
    }

    .border-titles {
        
        
        font-size: 24px;
        font-weight: 700;
        line-height: 31px;
    }
    .mini-border-titles {
        margin-top: 22px;
        font-size: 18px;
        font-weight: 400;
    }
}

.individual {
    border: 5px dotted #CEEBFB;
    height: 650px;
    width: 400px;
    padding: 50px
}

.callories {
    margin-top: 121px;
    font-size: 21px;
    font-weight: 400;
}
.price {
    margin-top: 13px;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 51px;
}
.content a{
    padding: 20px 60px;
    background-color: #B24D97;
    border-radius: 50px 0px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    border-radius: 0px 50px;
}

.container .box:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
}

.fifth__block {
    background-color: #319B66;
    display: flex;
    justify-content: center;
    
    
    .fifth-inf {
        text-align: center;
        .fifth-title {
            font-size: 60px;
            line-height: 60px;
            margin-top: 91px;
        }
    }

    .sub-title {
        text-align: center;
        p{
            margin-top: 65px;
            font-family: 'Raleway', sans-serif;
            font-size: 24px;
            line-height: 31.2px;
            font-weight: 700;
        }
    }

    ul {
        display: flex;
        margin-top: 38px;
    }
    li {
        list-style: none;
        font-family: 'Raleway', sans-serif;
        margin: 0 20px;
        a {
            text-decoration: none;
            padding: 18px 36px;
            background-color: #CEEBFB;
            border-radius: 30px;
            color: #2F4152;
            font-weight: 700;
            font-size: 18px;
            text-transform: uppercase;
            transition: 0.5s;
        }
        a:hover {
            background-color: #B24D97;
            color: #fff;
        }
    }
    .active{
        background-color: #B24D97;
        color: #fff;
    }
    
}


.nav___list {
    margin-top: 83px;
    display: flex;
    justify-content: space-between;
    padding: 0 70px;


    .nav___item{
        list-style: none;

        .nav___link{
            padding: 30px;
            background-color: #CEEBFB;
            color:#2f4152;
            text-decoration: none;
            border-radius: 50px 0;
            transition: 0.5s;
        }
        .nav___link:hover{
            background-color: #319B66;
            color: #fff;
        }

        .active2 {
            background-color: #319B66;
            color: #fff;
        }
    }
}

.count {
    margin-top: 65px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 700;
}

.day {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    line-height: 39.2px;
    font-weight: 700;
}
.day-inf {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.radio-inf {
    width: 70px;
}

.block-radio {
    
    position: relative;
}

.inputs {
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    z-index: 1000;
}

.inputs-inf {
    margin-top: 14px;
    display: flex;
    justify-content: space-evenly;
}


.custom-radio-btn {
    z-index: 10;
    width: 25px;
    height: 25px;
    border: 4px solid #fff;
    background-color:#319B66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.custom-radio-btn .checkmark {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color:#B24D97;
    display: inline-block;
    opacity: 0;
    transition: 0.5s ease;
}

.custom-radio-btn input {
    display: none;
}

.custom-radio-btn input:checked + .checkmark {
    opacity:1;
}
.hr-line {
    position: absolute;
    z-index: 1;
}

.names {
    margin-top: 78px;
}

.names input {
    padding: 22px;
    border-radius: 30px;
    width: 368px;
    margin: 0 13px;
    font-size: 16px;
    border: none;
    outline: none !important;
}

.fifth-button {
    margin-top: 80px;margin-bottom: 71px;
}

.fifth-button a{
    padding: 34px 60px;
    background-color:#B24D97;
    color: #fff;
    text-decoration: none;
    border-radius: 50px 0;
    transition: 0.5s;
}

.fifth-button a:hover{
    
    border-radius: 0 50px;
}

.sixth__block {
    color: #2F4152;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 132px;
}

.six-text {
    width: 780px;
}

.six-title {
    font-size: 48px;
    line-height: 57,6px
}

.six-litle-text {
    margin-top: 34px;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    margin-bottom: 104px;
    strong{
        color:#319B66;
    }

    p {
        margin-top: 15px;
    }
}

footer {
    color:#2f4152;
    font-family: 'Raleway', sans-serif;
    background-color: #CEEBFB;
    padding: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        padding: 10px 18px;
        text-decoration: none;
        border: 2px solid #B24D97;
        margin-left: 15px;
        color: #B24D97;
        font-size: 18px;
        border-radius: 30px;
        line-height: 18px;
        transition: 0.5s;
        
    }
    p{
        margin-right: 15px;
        font-weight: 700;
    }

    a:hover {
        background-color: #B24D97;
        color: #fff;
    }
}

.copyright {
    margin-top: 40px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}

.politika {
    margin-top: 26px;
    font-size: 14px;
    line-height: 14px;
    color: #1E4BD2;
}

@media screen and (max-width: 1600px) {
    .nav___link{
        font-size: 16px;
    }
    .nav___list {
        padding: 0;
    }

    .nav__link{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 1400px) {
    .nav___link{
        padding: 20px;
        font-size: 12px;
    }

    .container {
        position: relative;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 90px;
        .titles {
            margin-top: 14px;
            font-size: 20px;
            font-weight: 700;
            line-height: 20px;
        }
        .mini-titles {
            margin-top: 14px;
            font-size: 18px;
            font-weight: 400;
        }
    
        ul {
            margin-left: 17px;
        }
    
        .border-titles {
            
            
            font-size: 24px;
            font-weight: 700;
            line-height: 31px;
        }
        .mini-border-titles {
            margin-top: 22px;
            font-size: 18px;
            font-weight: 400;
        }
    }
    

}

@media screen and (max-width: 1124px) {

    body {
        width: 100%;
        margin: 0;
    }
    .grid-block {
        grid-template-columns: 1fr 1fr;
    
    }

    .first__block-content {
        margin: 0 auto;
        width: 95%;
    }

    .text p{
        font-size: 45px;
        line-height: 50px;
    }
    
    .button {
        margin-top: 50px;
    }
    .information {
        margin-top:50px;
    }
    .forth-block-content {
        width: 95%;
        margin: 0 auto;
        
    }
    .nav___link{
        padding: 5px 15px;
        font-size: 12px;
    }
    .nav__menu ul {
        display: flex;
        flex-direction: column;

        li {
            margin: 20px 0;
        }
    }
    .day-inf {
        display: none;
    }
    .day b {
        display: none;
    }
    .hr-line {
        display: none;
    }
        
    .sixth__block {
        color: #2F4152;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 80px;
    }
    
    .six-text {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    
    .six-title {
        font-size: 48px;
        line-height: 57,6px
    }
    
    .six-litle-text {
        margin-top: 34px;
        font-family: 'Raleway', sans-serif;
        font-size: 21px;
        line-height: 31px;
        font-weight: 400;
        margin-bottom: 104px;
        strong{
            color:#319B66;
        }
    
        p {
            margin-top: 15px;
        }
    }
    .first-block-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .svg-item {
        margin: 10px 0;
    }
    .second-block-line {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}




@media screen and (max-width: 768px) {
    .first__block {
        height: 130vh;
    }
    .header-content{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        height: 70px;
        align-items: center;
    }
    .ones {
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        align-items: center;

        a {
            margin: 0px;
        }
        p{
            margin: 0px;
        }
    }
    .text p{
        margin-top: 150px;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
    }
    .subtitle{
        width: 300px;
    }
    .grid-block {
    
        
        grid-template-columns: 1fr;
    
    }

    .nav___item {
        
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .nav___list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .names {
        height: 150px;
        .phones {
            margin-top: 20px;
        }
    }
    .box img{
        width: 300px;
    }
    .individual {
        border: none;
    }
}

@media screen and (max-width: 530px) {
    
}