@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
  font-family: 'Didact Gothic', sans-serif;
  color: #fff;
  font-size: 20px;
}

html {
  scroll-behavior: smooth;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.first__block {
  min-height: 100vh;
  background: url(/img/back.png) center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: center;
}

.first__block-content {
  height: 100vh;
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content .ones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Raleway', sans-serif;
  z-index: 1000;
}

.header-content .ones a {
  padding: 10px 18px;
  text-decoration: none;
  border: 2px solid #fff;
  margin: 7px;
  color: #fff;
  font-size: 18px;
  border-radius: 30px;
  line-height: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-content .ones a:hover {
  background-color: #fff;
  color: #000;
}

.header-content .ones p {
  margin: 7px;
  font-weight: 700;
}

.header-content .ones p a {
  border: none;
}

.header-content .ones p a:hover {
  background: none;
  color: #fff;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text p {
  font-size: 50px;
  font-weight: 400;
  line-height: 65px;
}

.button a {
  cursor: pointer;
  padding: 28px 50px;
  background-color: #B24D97;
  font-size: 18;
  line-height: 18px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #fff;
  border-radius: 50px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button a:hover {
  border-radius: 0px 50px;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information p {
  width: 223.5px;
}

.inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second__block {
  color: #2f4152;
}

.text-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-title p {
  color: #2F4152;
}

.title {
  margin-top: 114px;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

.subtitle {
  margin-top: 51px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  width: 710px;
  padding: 0 30px;
}

.for-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 109px;
}

.grid-block {
  margin-top: 49px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.grid-item {
  width: 275px;
  font-family: 'Raleway', sans-serif;
}

.grid-item .mini-title {
  margin-top: 40px;
  font-size: 20;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-item .mini-subtitle {
  margin-top: 20px;
  font-size: 16px;
  line-height: 20.8px;
  font-weight: 400;
}

.last {
  margin-top: 26px;
}

.third__block {
  background-color: #319B66;
  margin-bottom: 115px;
}

.third-block-content {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 115px;
}

.third-block-content .title2 {
  text-align: center;
  margin-top: 93px;
  font-size: 60px;
  line-height: 60px;
}

.block-svg {
  margin-top: 78px;
  position: relative;
  z-index: 1000;
}

.line-svg {
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: -1;
}

.first-block-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 2000;
}

.second-block-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 200;
}

.line-img {
  position: absolute;
  bottom: 100px;
  left: 150px;
}

.for-center2 {
  margin-left: 50px;
}

.first-line {
  margin-top: 83px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.item-shape {
  position: relative;
  height: 200px;
}

.shape {
  position: absolute;
  bottom: 0;
  background-color: #CEEBFB;
  width: 270px;
  height: 152px;
  border-radius: 50px 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding: 30px;
}

.shape p {
  color: #2F4152;
  font-size: 18;
  line-height: 23.4px;
}

.number {
  position: absolute;
  left: 30px;
  top: 0;
  background-color: #B24D97;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number p {
  font-size: 48px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
}

.for-center3 {
  margin-top: -80px;
}

.first-line2 {
  margin-top: 83px;
  margin-left: 200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 470px;
          column-gap: 470px;
}

.forth-block-content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 115px;
  color: #2F4152;
}

.forth-block-content .title2 {
  text-align: center;
  font-size: 60px;
  line-height: 60px;
}

.tabs {
  color: #2F4152;
  font-family: 'Raleway', sans-serif;
}

.tabs__items {
  margin-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tabs__item {
  padding: 30px;
  background-color: #CEEBFB;
  text-decoration: none;
  color: #2F4152;
  border-radius: 50px 0px;
}

.grid-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
}

.container {
  position: relative;
  min-width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.container .titles {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.container .mini-titles {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 400;
}

.container ul {
  margin-left: 17px;
}

.container .border-titles {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.container .mini-border-titles {
  margin-top: 22px;
  font-size: 18px;
  font-weight: 400;
}

.individual {
  border: 5px dotted #CEEBFB;
  height: 650px;
  width: 365px;
  padding: 50px;
}

.callories {
  margin-top: 121px;
  font-size: 21px;
  font-weight: 400;
}

.price {
  margin-top: 13px;
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 51px;
}

.content a {
  padding: 20px 60px;
  background-color: #B24D97;
  border-radius: 50px 0px;
  color: #fff;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content a:hover {
  border-radius: 0px 50px;
}

.container .box:nth-child(3) {
  grid-column: span 1;
  grid-row: span 2;
}

.fifth__block {
  background-color: #319B66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fifth__block .fifth-inf {
  text-align: center;
}

.fifth__block .fifth-inf .fifth-title {
  font-size: 60px;
  line-height: 60px;
  margin-top: 91px;
}

.fifth__block .sub-title {
  text-align: center;
}

.fifth__block .sub-title p {
  margin-top: 65px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 700;
}

.fifth__block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 38px;
}

.fifth__block li {
  list-style: none;
  font-family: 'Raleway', sans-serif;
  margin: 0 20px;
}

.fifth__block li a {
  text-decoration: none;
  padding: 18px 36px;
  background-color: #CEEBFB;
  border-radius: 30px;
  color: #2F4152;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fifth__block li a:hover {
  background-color: #B24D97;
  color: #fff;
}

.fifth__block .active {
  background-color: #B24D97;
  color: #fff;
}

.nav___list {
  margin-top: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 70px;
}

.nav___list .nav___item {
  list-style: none;
}

.nav___list .nav___item .nav___link {
  padding: 30px;
  background-color: #CEEBFB;
  color: #2f4152;
  text-decoration: none;
  border-radius: 50px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav___list .nav___item .nav___link:hover {
  background-color: #319B66;
  color: #fff;
}

.nav___list .nav___item .active2 {
  background-color: #319B66;
  color: #fff;
}

.count {
  margin-top: 65px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  line-height: 31.2px;
  font-weight: 700;
}

.day {
  margin-top: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  line-height: 39.2px;
  font-weight: 700;
}

.day-inf {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.radio-inf {
  width: 70px;
}

.block-radio {
  position: relative;
}

.inputs {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  z-index: 1000;
}

.inputs-inf {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.custom-radio-btn {
  z-index: 10;
  width: 25px;
  height: 25px;
  border: 4px solid #fff;
  background-color: #319B66;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.custom-radio-btn .checkmark {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #B24D97;
  display: inline-block;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.custom-radio-btn input {
  display: none;
}

.custom-radio-btn input:checked + .checkmark {
  opacity: 1;
}

.hr-line {
  position: absolute;
  z-index: 1;
  width: 85%;
}

.hr-line img {
  width: 85%;
  height: 15px;
  border-radius: 30px;
}

.names {
  margin-top: 78px;
}

.names input {
  padding: 22px;
  border-radius: 30px;
  width: 368px;
  margin: 0 13px;
  font-size: 16px;
  border: none;
  outline: none !important;
}

.fifth-button {
  margin-top: 80px;
  margin-bottom: 71px;
}

.fifth-button a {
  padding: 34px 60px;
  background-color: #B24D97;
  color: #fff;
  text-decoration: none;
  border-radius: 50px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fifth-button a:hover {
  border-radius: 0 50px;
}

.sixth__block {
  color: #2F4152;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 132px;
}

.six-text {
  width: 780px;
}

.six-title {
  font-size: 48px;
  line-height: 57,6px;
}

.six-litle-text {
  margin-top: 34px;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  line-height: 31px;
  font-weight: 400;
  margin-bottom: 104px;
}

.six-litle-text strong {
  color: #319B66;
}

.six-litle-text p {
  margin-top: 15px;
}

footer {
  color: #2f4152;
  font-family: 'Raleway', sans-serif;
  background-color: #CEEBFB;
  padding: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.number-footer a {
  padding: 10px 18px;
  text-decoration: none;
  border: 2px solid #B24D97;
  margin-left: 15px;
  color: #B24D97;
  font-size: 18px;
  border-radius: 30px;
  line-height: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.number-footer a:hover {
  background-color: #B24D97;
  color: #fff;
}

.number-footer p {
  margin-right: 15px;
  font-weight: 700;
}

.number-footer p a {
  border: none;
  color: #000;
}

.number-footer p a:hover {
  background: none;
  color: #000;
}

.copyright {
  margin-top: 40px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.politika {
  margin-top: 26px;
  font-size: 14px;
  line-height: 14px;
  color: #1E4BD2;
}

.selector {
  margin-top: 50px;
  padding: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: none;
}

.select-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 278px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-box .option-container {
  z-index: 1000;
  background: white;
  color: #2F4152;
  max-height: 0;
  width: 278px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 80px;
  position: absolute;
}

.selected {
  background: #319B66;
  border-radius: 50px 0;
  color: #fff;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.selected::after {
  content: "";
  background: url(/img/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  height: 10px;
  width: 16px;
  margin-left: 15px;
  margin-top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box .option {
  background: #CEEBFB;
  margin: 5px 0;
}

.select-box .option-container.active {
  max-height: 100%;
  opacity: 1;
}

.select-box .option-container.active + .selected::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.select-box .option, .selected {
  padding: 30px 0 30px 24px;
  cursor: pointer;
}

.select-box .option:hover {
  background: #afc2ce;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .rad {
  display: none;
}

.fifth-button button {
  font-family: 'Didact Gothic', sans-serif;
  padding: 34px 60px;
  background-color: #B24D97;
  color: #fff;
  text-decoration: none;
  border-radius: 50px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  font-size: 18px;
}

.fifth-button button:hover {
  border-radius: 0 50px;
}

.selector2 {
  margin-top: 40px;
  padding: 32px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  display: none;
}

.select-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 278px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-box2 .option-container2 {
  z-index: 1000;
  background: white;
  color: #2F4152;
  max-height: 0;
  width: 278px;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 30px;
  overflow: hidden;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-top: 80px;
  position: absolute;
}

.selected2 {
  background: #B24D97;
  border-radius: 50px;
  color: #fff;
  position: relative;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.selected2::after {
  content: "";
  background: url(/img/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 10px;
  width: 16px;
  margin-left: 15px;
  margin-top: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.select-box2 .option2 {
  background: #CEEBFB;
  margin: 5px 0;
  border-radius: 30px;
}

.select-box2 .option-container2.active {
  max-height: 100%;
  opacity: 1;
}

.select-box2 .option-container2.active + .selected2::after {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.select-box2 .option2, .selected2 {
  padding: 30px 0 30px 24px;
  cursor: pointer;
}

.select-box2 .option2:hover {
  background: #afc2ce;
}

.select-box2 label {
  cursor: pointer;
  margin-right: 15px;
}

.select-box2 .option2 .radi {
  display: none;
}

@media screen and (max-width: 1600px) {
  .nav___link {
    font-size: 16px;
  }
  .nav___list {
    padding: 0;
  }
  .nav__link {
    font-size: 16px;
  }
  .six-logo {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1400px) {
  .nav___link {
    padding: 20px;
    font-size: 12px;
  }
  .container {
    position: relative;
    place-content: center;
    margin-bottom: 90px;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .container .titles {
    margin-top: 14px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }
  .container .mini-titles {
    margin-top: 14px;
    font-size: 18px;
    font-weight: 400;
  }
  .container ul {
    margin-left: 17px;
  }
  .container .border-titles {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
  }
  .container .mini-border-titles {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 400;
  }
  .six-logo {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
}

@media screen and (max-width: 1124px) {
  body {
    width: 100%;
    margin: 0;
  }
  .grid-block {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .container {
    margin-top: -100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ind {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .first__block-content {
    margin: 0 auto;
    width: 95%;
  }
  .text p {
    font-size: 45px;
    line-height: 50px;
  }
  .button {
    margin-top: 50px;
  }
  .information {
    margin-top: 50px;
  }
  .forth-block-content {
    width: 95%;
    margin: 0 auto;
  }
  .nav___menu {
    display: none;
  }
  .selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .selector2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__menu {
    display: none;
  }
  .day-inf {
    display: none;
  }
  .day b {
    display: none;
  }
  .hr-line {
    width: 85%;
  }
  .hr-line img {
    width: 85%;
    height: 15px;
    border-radius: 30px;
  }
  .sixth__block {
    color: #2F4152;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 80px;
  }
  .six-text {
    width: 100%;
    text-align: center;
    margin-top: 50px;
  }
  .six-title {
    font-size: 48px;
    line-height: 57,6px;
  }
  .six-litle-text {
    margin-top: 34px;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    line-height: 31px;
    font-weight: 400;
    margin-bottom: 104px;
  }
  .six-litle-text strong {
    color: #319B66;
  }
  .six-litle-text p {
    margin-top: 15px;
  }
  .first-block-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .line-svg {
    display: none;
  }
  .svg-item {
    margin: 10px 0;
  }
  .second-block-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .six-logo {
    margin-right: 0;
  }
}

.line {
  display: none;
}

@media screen and (max-width: 768px) {
  .first__block {
    height: 130vh;
  }
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 70px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ones {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 35px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ones a {
    margin-left: 0px;
  }
  .ones p {
    margin-right: 0px;
  }
  .text p {
    margin-top: 150px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }
  .subtitle {
    width: 300px;
  }
  .grid-block {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .nav___item {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .nav___list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .names {
    height: 150px;
  }
  .names .phones {
    margin-top: 20px;
  }
  .box img {
    width: 300px;
  }
  .individual {
    width: 65%;
    height: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 530px) {
  .header-content {
    height: 150px;
  }
  .third-block-content {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
  }
  .third-block-content .title2 {
    text-align: center;
    margin-top: 15px;
    font-size: 60px;
    line-height: 60px;
  }
  .first__block-content {
    height: 100%;
    margin: 0 auto;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inf {
    font-size: 12px;
    margin-top: 15px;
  }
  .inf .information_mini p {
    width: 120px;
  }
  .title {
    margin-top: 15px;
  }
  .for-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .forth-block-content {
    margin-bottom: 15px;
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
  .tabs__items {
    margin-top: 15px;
  }
  .fifth-inf {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .fifth-title {
    margin-top: 15px;
  }
  .sixth__block {
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .six-litle-text {
    margin-bottom: 15px;
  }
  .number-footer {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number-footer a {
    margin-top: 20px;
    margin-left: 0px;
  }
  .number-footer p {
    margin-right: 0px;
  }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text p {
    line-height: 50px;
  }
  .second__block p {
    text-align: center;
  }
  .grid-item {
    margin-bottom: 50px;
  }
  .grid-boxes {
    margin-top: 15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 100%;
    height: 100%;
  }
  .first__block {
    height: 1000px;
  }
  .first-block-line {
    display: none;
  }
  .second-block-line {
    display: none;
  }
  .line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .second__block {
    height: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .third__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1200px;
  }
  .forth__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 1500px;
  }
  .fifth__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 950px;
  }
  .sixth__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1600px;
  }
  .first__block-content, .second__block, .third-block-content, .forth-block-content, .fifth-inf, .sixth__block, .footer {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}
/*# sourceMappingURL=main.css.map */